@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');

.sections {
    width: 80%;
    // text-align: center;

    .left-section {
        width: 48%;
        padding: 8px;
        .image-gallery-slide img {
            width: 550px;
            height: 400px;
        }
    }
    .right-section {
        width: 60%;
        text-align: left;
        padding-left: 20px;
        align-self: center;
        h6 {
            color: #1d1630;
            font-weight: bold;
            font-size: 18px;
        }
        .header {
            text-align: center;
            img {
                width: 120px;
                height: 80px;
            }
            a span{
                display: inline-block;
                font-size: 26px;
                margin-top:10px;
                font-family: Lato;
                color: #1d1630;
            }
        }
        .description {
            margin-top: 5px;
            line-height: 18px;
            font-size: 14px;

        }
        .features {
            width: 70%;
            float: left;
        }
        .technical{
            width: 30%;
            float: right;
        }
        .clear{
            clear: both;
        }
        .other a{
            margin-left: 10px;
        }
    }
}
