.work-experience{
    .box-info{
        .company-info{
            img{
                width: 30px;
                height: 30px;
            }
            p{
                display: inline-block;
                margin-left: 6px;
            }
        }
    }
}